<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CONTACT-US</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="../static/nav_footer.css" />
    <link rel="stylesheet" href="../static/contact.css" />
  </head>
  <body class="i">
    <header>
      <div class="">
        <nav class="navbar navbar-expand-lg fixed-top py-3 bg-color">
          <div class="container">
            <a
              href="#"
              class="navbar-brand text-white text-uppercase fw-bolder fs-2"
              >SS</a
            >
            <button
              type="button"
              class="navbar-toggler"
              data-bs-toggle="collapse"
              data-bs-target="#navbarCollapse"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
              <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                <li class="nav-item me-4">
                  <a
                    class="nav-link text-white text-uppercase fw-bold mt-3 mt-md-0 px-2"
                    href="#"
                    >HOME</a
                  >
                </li>

                <li class="nav-item me-4">
                  <a
                    class="nav-link text-white text-uppercase fw-bold mt-3 mt-md-0 px-2"
                    href="#"
                    >ABOUT</a
                  >
                </li>

                <li class="nav-item me-4">
                  <a
                    class="nav-link text-white text-uppercase fw-bold mt-3 mt-md-0 px-2 active"
                    href="/contact"
                    >CONTACT-US</a
                  >
                </li>

                <li class="nav-item me-4">
                  <a
                    class="nav-link text-white text-uppercase fw-bold mt-3 mt-md-0 px-2 "
                    href="/"
                    >ANALYSIS</a
                  >
                </li>
              </ul>
              <ul class="navbar-nav ms-auto">
                <i class="fa fa-user icon_user mx-auto" aria-hidden="true"></i>
                <li class="nav-item me-2">
                  <a
                    href="/login"
                    class="nav-link text-white text-uppercase fw-bold mt-3 mt-md-0 px-4"
                    >Login</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </nav>

        <div class="loader"></div>
      </div>
    </header>

    <form class="">
      <input
        name="name"
        type="text"
        class="feedback-input"
        placeholder="Name"
      />
      <input
        name="email"
        type="text"
        class="feedback-input"
        placeholder="Email"
      />
      <textarea
        name="text"
        class="feedback-input"
        placeholder="Comment"
      ></textarea>
      <input style="margin-bottom: 100px;" type="submit" value="SUBMIT" />
    </form>

    <div class="p p-3 text-center text-white bg-color-p">
      <p>Copyright © Your Website 2024</p>
    </div>
  </body>
</html>
